* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
/* start header */
header {
  position: absolute;
  z-index: 2;
  width: 100%;
}
header .navbar-brand i {
  font-size: 45px;
  color: #35a22c;
}
header .navbar-brand {
  font-size: 36px;
}
header .nav-item .nav-link {
  color: white;
  margin: 0 20px;
  position: relative;
  overflow: hidden;
}
header .nav-item .nav-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 2.5px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #35a22c;
  transform: translateX(-100%);
  transition: 0.3s;
}
header .nav-item .nav-link:hover {
  color: #35a22c;
}
header .nav-item .nav-link:hover::after {
  transform: translateX(0px);
}
header .nav-item.active .nav-link {
  color: #35a22c;
}
header .nav-item.active .nav-link::after {
  transform: translateX(0px);
}
/* end header */
/* start carousel */
#portfolio__carousel .carousel-caption {
  bottom: 50%;
  transform: translateY(50%);
}
.carousel-caption img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}
#portfolio__carousel .carousel-caption h5 {
  font-size: 56px;
  line-height: 65px;
}
#portfolio__carousel .carousel-caption p {
  font-size: 24px;
}
.carousel-indicators li {
  height: 15px;
  width: 15px;
  border-radius: 50%;
}
.carousel-indicators {
  bottom: 30px;
}

.carousel-item {
  position: relative;
  height: 100vh;
}
.carousel-item::after {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

#portfolio__carousel .carousel-indicators .active {
  background-color: #35a22c;
}

/* end carousel */

/* start project */
#portfolio__project .nav {
  justify-content: center;
}
#portfolio__project .card {
  overflow: hidden;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}
#portfolio__project .nav-pills .nav-link.active {
  background-color: #35a22c;
  color: white;
  border: white;
}
#portfolio__project .nav-pills .nav-link {
  border: 1px solid black;
  color: black;
  margin: 0 5px;
}
#portfolio__project .card-body {
  border: 1px solid transparent;
  border-radius: 16px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top: none;
  transition: 0.3s;
  text-align: center;
}
#portfolio__project .card-body h2 {
  font-size: 1.25rem;
  font-weight: 400;
}
#portfolio__project .card-body p {
  color: #585858;
}
#portfolio__project .card:hover .card-body {
  border: 1px solid #35a22c;
  border-radius: 16px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top: none;
}
#portfolio__project .card:hover .card-body h2 {
  color: #35a22c;
}
/* end project */

/* start feature */
.feature {
  background-image: url(./image/3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 0 120px;
  position: relative;
  background-attachment: fixed;
}
.feature .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(7, 10, 12, 0.72);
}
.feature__title {
  position: relative;
  max-width: 750px;
  margin: auto;
  text-align: center;
}

.feature__title h2 {
  font-size: 36px;
  font-weight: 600;
  color: white;
  text-align: center;
}
.feature__title p {
  color: white;
}
.feature__item {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 40px;
  backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 0.5s;
}
.feature__item:hover {
  background: #000;
  border-color: #fff;
}
.feature__item i {
  font-size: 48px;
  color: #35a22c;
}
.feature__item h2 {
  font-size: 20px;
  line-height: 30px;
  margin: 25px 0;
  font-weight: 800;
  color: white;
}
.feature__item p {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: white;
}
/* end feature */

/* start award */
.award {
  padding: 80px 0;
  position: relative;
}
.award__bg {
  position: absolute;
  background-image: url(./image/memphis_3.png);
  background-size: 50% auto;
  background-repeat: no-repeat;
  background-position: left;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.award__title {
  padding: 45px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(3px);
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 30%);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
}
.award__title h2 {
  color: #1a1d2d;
  font-size: 36px;
  font-weight: 600;
  line-height: 42px;
}
.award__title p {
  color: #585858;
  line-height: 24px;
  font-size: 14px;
}
.award__content {
  padding: 45px 0;
}
.award__content p {
  margin-bottom: 1rem;
  font-size: 15px;
  color: #585858;
  line-height: 28px;
}
.award__content .col img {
  width: 100%;
  height: 100%;
}
/* end award */

/* start footer */
footer {
  background-color: #222;
}
.footer__icoin a {
  color: #aaa;
  margin-right: 10px;
  text-decoration: none;
}
.footer__icoin i {
  width: 42px;
  height: 42px;
  line-height: 42px;
  border: 1px solid #454545;
  border-radius: 50%;
  transition: all 0.5s;
}
.footer__icoin i:hover {
  border-color: #35a22c;
}
.footer__icoin a:hover {
  color: #35a22c;
}
.footer__title p {
  color: #aaa;
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #454545;
}
/* end footer */
/* 3h18p */

/* breakpoint */
.demo__responsive {
  background: black;
  width: 100%;
  height: 500px;
}
/* @media screen and (min-width: 768px) {
  .demo__responsive {
    background: blue;
  }
}
@media screen and (min-width: 992px) {
  .demo__responsive {
    background: red;
  }
} */
@media screen and (max-width: 992px) {
  .demo__responsive {
    background: red;
  }
}
@media screen and (max-width: 768px) {
  .demo__responsive {
    background: blue;
  }
}
